.input {
    width: 100%;
    font-size: 1.4rem;
    padding: 1rem;
    display: block;
    border: 1px solid #97999a;
    border-radius: 4px;
    margin-bottom: 1rem;
}


.submitButton {
    padding: 0.5rem 1rem;
    border: 0;
    font-family: inherit;
    background: #061420;
    color: #fff;
    font-size: 1rem;
    border-radius: 4px;
    cursor:pointer;
}

.submitButton[disabled] {
    opacity: 0.25;
    color: gray;
}


.bookdlink {
    color: rgb(0, 0, 0); /* Change the link text color to blue */
    text-decoration: underline; /* Add an underline to the link */
    margin-left: 10px; /* Add some margin at the top for spacing */
  }
  