* {
    box-sizing: border-box;
}

html, body {
    height: 100%;
}

body {
    /* background: linear-gradient(237.94deg, #38F48E 0.42%, #08A0CA 100.7%); */
    background-image: url("../../public/chatbg.svg");
    background-position: center;
    background-size: cover;
    padding: 1rem;
}