.main {
}

.card {
    max-width: 40rem;
    margin: 0 auto;
    margin-top: 7rem;
    border: 2px rgb(0, 0, 0) solid;
    display: block;
    background: #fff;
    border-radius: 1rem;
    padding: 1rem 2rem 1rem;
    box-shadow: 0px 2px 4px rgba(2, 23, 31, 0.1);
}

.response {
    line-height: 1.4rem;
    background: #f3f3f3;
    border: 1px solid #ccc;
    border-top: 2px solid #e2e2e2;
    padding: 1rem;
}

/* page.module.css */
