/* Importing Google Fonts */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400&display=swap');
/* Applying Poppins font to all elements */
*{
  font-family: 'Poppins', sans-serif !important;
}

/* antd override */
input{
  border-radius: 2px !important;
  border: 3px solid rgba(255, 255, 255, 0.521) !important;
  border-radius: 50px ;
  height: 40px !important;
}
/* Removing focus outline and box shadow for 'input' and '.ant-picker' elements */
input:focus , .ant-picker{
  outline: none !important;
  box-shadow: none !important;
  border: 1px solid gray !important;
}
/* Style 'label' elements */
label{
  font-size: 16px !important;
  color: black !important;
}

/* Style '.ant-form-item' */
.ant-form-item{
  margin: 10px 0 !important;; 
}
/* Removing borders for 'input' elements inside '.ant-picker-input' */
.ant-picker-input input{
  border: none !important;
}
/* Style '.ant-picker' elements */
.ant-picker{
  border-radius: 2px !important;
  border: 1px solid rgba(128, 128, 128, 0.521) !important;
  height: 40px !important;
}
/* Style 'authentication-logo' class */
.authentication-logo { 
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 7rem;
  font-size: 50px; /* Adjust the font size as needed */
  font-weight: bold; /* Optional: Make the text bold */
  height: 100%; /* Ensure the div takes up the full height of its container */
}
/* Style 'logo-text' class */
.logo-text {
  text-align: center;
}


/* Common styling */
/* Style for spinner */
.spinner-parent{
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgba(0, 0, 0, 0.704);
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 9999;
}
/* Style for spinner-border */
.spinner-border{
  width: 5rem;
  height: 5rem;
  color: white !important;
}
/* Styling for page titles */
.page-title{
  font-size: 25px;
  color: rgba(0, 0, 0, 0.833);
  font-weight: bold;
}
/* Styling for card titles */
.card-title{
  font-size: 22px;
  font-weight: bold;
  color: rgba(0, 0, 0, 0.627);

}
/* Styling for normal text */
.normal-text{
  font-size: 1rem;
}
/* Styling for cards */
.card{
  box-shadow: 0 0 2px rgb(0, 0, 0);
  border-radius: 20px !important;
  padding: 20px!important;
  margin: 10px!important;
}
/* Styling for '.darta' class */
.darta{
  margin-left: 242px;
}
/* Styling for '.primary-button' class */
.primary-button{
  background-color: #000000 !important;
  border-color: #000000 !important;
  height: 47px !important;
  width: 100% !important;
  color: white !important;
  font-size: 16px !important;
  border-radius: 15px;
  width: max-content !important;
}
/* Styling for '.primary-button' when hovered */
.primary-button:hover {
  background-color: #000000 !important;
  transform: scale(1.05); /* Add a scale effect on hover */
}
/* Styling for '.full-width-button' class */
.full-width-button{
  width: 100% !important;
}
/* Styling for 'p' elements */
p{
  color: rgba(0, 0, 0, 0.673) !important;
  padding: 0 !important;
  margin: 0 !important;
}
/* Styling for '.anchor' class */
.anchor{
  color: black !important;
  text-decoration: underline;
  cursor: pointer;
  font-size: 16px !important;
}
/* Styling for '.anchor' when hovered */
.anchor:hover{
  text-decoration: underline !important;
}
/* Styling for elements with '.cursor-pointer' class */
.cursor-pointer{
  cursor: pointer;
}


/* stylig for authentication pages */

.authentication{
   height: 100vh;
   display: flex;
   align-items: center;
   justify-content: center;
   background-color: #eaeaea;
   background: rgb(255, 255, 255);
/* background: radial-gradient(circle, rgb(0, 255, 98) 0%, rgba(148,187,233,1) 100%); */
}
/* styling for authentication form */
.authentication-form{
  width:500px;
  height: 50%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  border: 2px solid black;
}
/* Styling for '.authentication-form-register' class */
.authentication-form-register{
  padding: 20px;
  width:600px;
  height: 60%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  border: 2px solid black;
}
/* Styling for '.authentication .card-title' */
.authentication .card-title{
  font-size: 1.5rem;
  font-weight: bold;
  background-color: orangered;
  color: white !important;
  max-width: max-content !important;

  border-bottom-left-radius: 10px;
}
/* Styling for '.hometitle' class */
.hometitle{
  margin: 1rem;
}
